.child {
	border-radius: 7px;
	position: relative;
	cursor: pointer;
	outline: none;

	&::after {
		height: 100%;
		width: 100%;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		font-size: 2rem;
		color: #555;
	}

	&:hover,
	&:focus {
		filter: saturate(2) drop-shadow(0 4px 5px rgba(0, 0, 0, 0.3));
	}

	&:active {
		filter: saturate(3) drop-shadow(0 0 0 rgba(0, 0, 0, 0.3))
	}

	@for $i from 1 through 50 {
		&:nth-child(#{$i}) {
			border: 3px solid hsl($i * 18, 40%, 60%);
			background: hsl($i * 18, 60%, 90%);
			&::after {
				content: '#{$i}';
			}
		}
	}
}
