input[type='number']:focus, button:focus, select:focus, .add:focus, input[type='number']:active, button:active, select:active, .add:active {
  outline: none;
  box-shadow: inset 0 0 1px 2px #acf; }
input[type='number']::-moz-focus-inner, button::-moz-focus-inner, select::-moz-focus-inner, .add::-moz-focus-inner {
  border: 0; }

html {
  font-family: sans-serif; }

body {
  display: flex;
  padding: 0;
  margin: 2rem; }
  @media screen and (max-width: 1024px) {
    body {
      flex-direction: column;
      margin: 1rem; } }

.page {
  border-radius: 7px;
  box-shadow: 0 0 25px grey;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  max-width: 50vw;
  height: calc(100vh - 4rem); }
  @media screen and (max-width: 1024px) {
    .page {
      max-width: 100%;
      height: 70vh; } }

.body {
  overflow: scroll;
  padding: 5px; }

.container {
  border: 3px solid #bbb;
  border-radius: 10px;
  margin: 0.1rem;
  box-sizing: border-box;
  max-height: 100%; }

.child {
  border-radius: 7px;
  position: relative; }
  .child::after {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 2rem;
    color: #555; }
  .child:nth-child(1) {
    border: 3px solid #c28970;
    background: #f5dfd6; }
    .child:nth-child(1)::after {
      content: "1"; }
  .child:nth-child(2) {
    border: 3px solid #c2a170;
    background: #f5e9d6; }
    .child:nth-child(2)::after {
      content: "2"; }
  .child:nth-child(3) {
    border: 3px solid #c2ba70;
    background: #f5f2d6; }
    .child:nth-child(3)::after {
      content: "3"; }
  .child:nth-child(4) {
    border: 3px solid #b1c270;
    background: #eff5d6; }
    .child:nth-child(4)::after {
      content: "4"; }
  .child:nth-child(5) {
    border: 3px solid #99c270;
    background: #e6f5d6; }
    .child:nth-child(5)::after {
      content: "5"; }
  .child:nth-child(6) {
    border: 3px solid #81c270;
    background: #dcf5d6; }
    .child:nth-child(6)::after {
      content: "6"; }
  .child:nth-child(7) {
    border: 3px solid #70c278;
    background: #d6f5d9; }
    .child:nth-child(7)::after {
      content: "7"; }
  .child:nth-child(8) {
    border: 3px solid #70c291;
    background: #d6f5e2; }
    .child:nth-child(8)::after {
      content: "8"; }
  .child:nth-child(9) {
    border: 3px solid #70c2a9;
    background: #d6f5ec; }
    .child:nth-child(9)::after {
      content: "9"; }
  .child:nth-child(10) {
    border: 3px solid #70c2c2;
    background: #d6f5f5; }
    .child:nth-child(10)::after {
      content: "10"; }
  .child:nth-child(11) {
    border: 3px solid #70a9c2;
    background: #d6ecf5; }
    .child:nth-child(11)::after {
      content: "11"; }
  .child:nth-child(12) {
    border: 3px solid #7091c2;
    background: #d6e2f5; }
    .child:nth-child(12)::after {
      content: "12"; }
  .child:nth-child(13) {
    border: 3px solid #7078c2;
    background: #d6d9f5; }
    .child:nth-child(13)::after {
      content: "13"; }
  .child:nth-child(14) {
    border: 3px solid #8170c2;
    background: #dcd6f5; }
    .child:nth-child(14)::after {
      content: "14"; }
  .child:nth-child(15) {
    border: 3px solid #9970c2;
    background: #e6d6f5; }
    .child:nth-child(15)::after {
      content: "15"; }
  .child:nth-child(16) {
    border: 3px solid #b170c2;
    background: #efd6f5; }
    .child:nth-child(16)::after {
      content: "16"; }
  .child:nth-child(17) {
    border: 3px solid #c270ba;
    background: #f5d6f2; }
    .child:nth-child(17)::after {
      content: "17"; }
  .child:nth-child(18) {
    border: 3px solid #c270a1;
    background: #f5d6e9; }
    .child:nth-child(18)::after {
      content: "18"; }
  .child:nth-child(19) {
    border: 3px solid #c27089;
    background: #f5d6df; }
    .child:nth-child(19)::after {
      content: "19"; }
  .child:nth-child(20) {
    border: 3px solid #c27070;
    background: #f5d6d6; }
    .child:nth-child(20)::after {
      content: "20"; }
  .child:nth-child(21) {
    border: 3px solid #c28970;
    background: #f5dfd6; }
    .child:nth-child(21)::after {
      content: "21"; }
  .child:nth-child(22) {
    border: 3px solid #c2a170;
    background: #f5e9d6; }
    .child:nth-child(22)::after {
      content: "22"; }
  .child:nth-child(23) {
    border: 3px solid #c2ba70;
    background: #f5f2d6; }
    .child:nth-child(23)::after {
      content: "23"; }
  .child:nth-child(24) {
    border: 3px solid #b1c270;
    background: #eff5d6; }
    .child:nth-child(24)::after {
      content: "24"; }
  .child:nth-child(25) {
    border: 3px solid #99c270;
    background: #e6f5d6; }
    .child:nth-child(25)::after {
      content: "25"; }
  .child:nth-child(26) {
    border: 3px solid #81c270;
    background: #dcf5d6; }
    .child:nth-child(26)::after {
      content: "26"; }
  .child:nth-child(27) {
    border: 3px solid #70c278;
    background: #d6f5d9; }
    .child:nth-child(27)::after {
      content: "27"; }
  .child:nth-child(28) {
    border: 3px solid #70c291;
    background: #d6f5e2; }
    .child:nth-child(28)::after {
      content: "28"; }
  .child:nth-child(29) {
    border: 3px solid #70c2a9;
    background: #d6f5ec; }
    .child:nth-child(29)::after {
      content: "29"; }
  .child:nth-child(30) {
    border: 3px solid #70c2c2;
    background: #d6f5f5; }
    .child:nth-child(30)::after {
      content: "30"; }
  .child:nth-child(31) {
    border: 3px solid #70a9c2;
    background: #d6ecf5; }
    .child:nth-child(31)::after {
      content: "31"; }
  .child:nth-child(32) {
    border: 3px solid #7091c2;
    background: #d6e2f5; }
    .child:nth-child(32)::after {
      content: "32"; }
  .child:nth-child(33) {
    border: 3px solid #7078c2;
    background: #d6d9f5; }
    .child:nth-child(33)::after {
      content: "33"; }
  .child:nth-child(34) {
    border: 3px solid #8170c2;
    background: #dcd6f5; }
    .child:nth-child(34)::after {
      content: "34"; }
  .child:nth-child(35) {
    border: 3px solid #9970c2;
    background: #e6d6f5; }
    .child:nth-child(35)::after {
      content: "35"; }
  .child:nth-child(36) {
    border: 3px solid #b170c2;
    background: #efd6f5; }
    .child:nth-child(36)::after {
      content: "36"; }
  .child:nth-child(37) {
    border: 3px solid #c270ba;
    background: #f5d6f2; }
    .child:nth-child(37)::after {
      content: "37"; }
  .child:nth-child(38) {
    border: 3px solid #c270a1;
    background: #f5d6e9; }
    .child:nth-child(38)::after {
      content: "38"; }
  .child:nth-child(39) {
    border: 3px solid #c27089;
    background: #f5d6df; }
    .child:nth-child(39)::after {
      content: "39"; }
  .child:nth-child(40) {
    border: 3px solid #c27070;
    background: #f5d6d6; }
    .child:nth-child(40)::after {
      content: "40"; }
  .child:nth-child(41) {
    border: 3px solid #c28970;
    background: #f5dfd6; }
    .child:nth-child(41)::after {
      content: "41"; }
  .child:nth-child(42) {
    border: 3px solid #c2a170;
    background: #f5e9d6; }
    .child:nth-child(42)::after {
      content: "42"; }
  .child:nth-child(43) {
    border: 3px solid #c2ba70;
    background: #f5f2d6; }
    .child:nth-child(43)::after {
      content: "43"; }
  .child:nth-child(44) {
    border: 3px solid #b1c270;
    background: #eff5d6; }
    .child:nth-child(44)::after {
      content: "44"; }
  .child:nth-child(45) {
    border: 3px solid #99c270;
    background: #e6f5d6; }
    .child:nth-child(45)::after {
      content: "45"; }
  .child:nth-child(46) {
    border: 3px solid #81c270;
    background: #dcf5d6; }
    .child:nth-child(46)::after {
      content: "46"; }
  .child:nth-child(47) {
    border: 3px solid #70c278;
    background: #d6f5d9; }
    .child:nth-child(47)::after {
      content: "47"; }
  .child:nth-child(48) {
    border: 3px solid #70c291;
    background: #d6f5e2; }
    .child:nth-child(48)::after {
      content: "48"; }
  .child:nth-child(49) {
    border: 3px solid #70c2a9;
    background: #d6f5ec; }
    .child:nth-child(49)::after {
      content: "49"; }
  .child:nth-child(50) {
    border: 3px solid #70c2c2;
    background: #d6f5f5; }
    .child:nth-child(50)::after {
      content: "50"; }

.controls {
  padding: 0.6rem 0.8rem;
  display: flex;
  min-width: 55px;
  justify-content: space-between;
  align-self: flex-start; }

.control {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  cursor: pointer; }

.close {
  background: #f64; }

.minimize {
  background: #fc4; }

.maximize {
  background: #4c6; }

.tabs {
  display: flex;
  background: linear-gradient(#f0f0f0, #eee);
  padding-top: 0.4rem;
  padding-right: 0.4rem;
  overflow: hidden;
  align-items: center; }

.tab {
  padding: 0.6rem 1rem 0.6rem 1rem;
  width: 14rem;
  min-width: 2rem;
  font-size: 0.9rem;
  color: #555;
  position: relative;
  white-space: nowrap;
  user-select: none;
  outline: none;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem; }
  .tab::before, .tab::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: -5px;
    border: 5px solid transparent;
    border-radius: 50%; }
  .tab::before {
    left: calc(-1rem - 5px);
    border-bottom-color: white;
    transform: rotate(-45deg); }
  .tab::after {
    right: calc(-1rem - 5px);
    transform: rotate(45deg); }
  .tab--active {
    background: white;
    box-shadow: 0 0 15px #ddd;
    z-index: 1; }
    .tab--active::before, .tab--active::after {
      border-bottom-color: white; }
  .tab--inactive::before, .tab--inactive::after {
    border-bottom-color: #eee; }
  .tab:focus, .tab:active, .tab:hover {
    background: #fafafa;
    border-bottom-color: #fafafa; }
  .tab:focus::before, .tab:focus::after, .tab:active::before, .tab:active::after, .tab:hover::before, .tab:hover::after {
    border-bottom-color: #fafafa; }
  .tab__close {
    cursor: pointer;
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    top: 50%;
    right: 0.2rem;
    transform: translate(-50%, -50%);
    z-index: 1; }
    .tab__close:hover {
      background: #ddd; }
    .tab__close::before, .tab__close::after {
      content: '';
      display: block;
      top: 50%;
      left: 50%;
      width: 0.7rem;
      height: 0.1rem;
      background: #555;
      position: absolute; }
    .tab__close::before {
      transform: translate(-49.5%, -1px) rotate(45deg); }
    .tab__close::after {
      transform: translate(-50.5%, -1px) rotate(-45deg); }
  .tab__title {
    width: calc(100% - 2.4rem);
    overflow: hidden;
    display: block;
    padding-left: 1.2rem;
    display: flex;
    align-items: center; }
    .tab__title::before {
      content: '';
      display: block;
      position: absolute;
      left: 0.8rem;
      width: 0.8rem;
      height: 0.8rem;
      background-size: cover; }
    .tab__title--flex::before {
      background-image: url("../assets/flex.ico"); }
    .tab__title--grid::before {
      background-image: url("../assets/grid.ico"); }
    .tab__title::after {
      content: '';
      position: absolute;
      height: 1rem;
      width: 2rem;
      right: 2rem; }
    .tab--inactive .tab__title::after {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), #eee); }
    .tab--active .tab__title::after {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff); }
    .tab--inactive:focus .tab__title::after, .tab--inactive:active .tab__title::after, .tab--inactive:hover .tab__title::after, .tab--active:focus .tab__title::after, .tab--active:active .tab__title::after, .tab--active:hover .tab__title::after {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fafafa); }

.bar {
  padding: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd; }

.bar__buttons {
  display: flex;
  align-items: center;
  padding: 0 0.3rem; }

.back,
.forward {
  position: relative;
  display: block;
  height: 1.5rem;
  width: 2rem; }
  .back::before, .back::after,
  .forward::before,
  .forward::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 30%; }
  .back::before,
  .forward::before {
    height: 0.5rem;
    width: 0.5rem;
    border: 2px solid #ccc;
    border-right: none;
    border-top: none;
    transform: rotate(45deg) translate(-35%, -35%); }
  .back::after,
  .forward::after {
    height: 2px;
    background: #ccc;
    width: 0.8rem;
    transform: translateY(-1px); }

.forward {
  transform: rotate(180deg); }

.url {
  background: #f4f4f4;
  padding: 0.45rem 1.5rem;
  border-radius: 1rem;
  flex: 1;
  color: #444;
  font-size: 0.95rem; }
  .url:active, .url:focus {
    outline: none;
    box-shadow: inset 0 0 1px 2px #acf;
    background: white; }

.options {
  transform: rotate(90deg);
  font-size: 1rem;
  letter-spacing: 1px;
  color: #777;
  cursor: pointer;
  user-select: none; }

.interface {
  width: 100%;
  margin-left: 2rem; }
  @media screen and (max-width: 1024px) {
    .interface {
      margin-left: 0;
      margin-top: 1rem; } }

.choice {
  white-space: nowrap;
  margin: 1rem 0.5rem;
  box-sizing: border-box;
  padding: 1rem; }

.form {
  display: flex; }
  @media screen and (max-width: 500px) {
    .form {
      flex-direction: column;
      align-items: center; } }

.col {
  margin-right: 1rem;
  box-sizing: border-box;
  width: 100%; }
  .col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .col {
      margin-right: 0;
      margin-bottom: 1rem; } }

.number,
.select {
  font-size: 1rem;
  width: 5ch;
  margin-left: auto;
  text-align: right;
  background: white;
  border-radius: 0;
  border: 1px solid #ddd; }
  .number--multi,
  .select--multi {
    margin: 0;
    width: 3.5ch; }

.select {
  margin-left: 0;
  width: calc(2ch + 0.5rem);
  appearance: none;
  -webkit-appearance: none;
  text-align: center;
  padding: 0.25rem; }
  @supports (text-align-last: center) {
    .select {
      text-align-last: center;
      padding: 0; } }

.range {
  width: 100%; }

.multi-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 1.5rem;
  padding-right: 1.5rem; }
  .multi-container__inputs {
    flex-wrap: wrap;
    display: flex;
    max-width: 100%; }

.button-wrapper {
  margin-left: 0.3rem;
  position: absolute;
  top: 0;
  right: 0; }

.add {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 50%;
  position: relative;
  background: white; }
  .add::before, .add::after {
    content: '';
    display: block;
    height: 2px;
    width: 0.8rem;
    background: #555;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.2s; }
  .add::before {
    transform: translate(-50%, -50%) rotate(90deg); }
  .add::after {
    transform: translate(-50%, -50%); }
  .add:hover + .tooltip {
    transition: visibility 0s 0.5s, opacity 0.5s 3s;
    visibility: visible; }
  .add:hover + .disappear {
    opacity: 0; }
  .add:focus + .tooltip {
    visibility: visible;
    transition: visibility 0s 2s, opacity 0.5s 4s; }
  .add:focus + .disappear {
    opacity: 0; }

.remove::before {
  transform: translate(-50%, -50%) rotate(45deg); }
.remove::after {
  transform: translate(-50%, -50%) rotate(-45deg); }

.tooltip {
  visibility: hidden;
  position: absolute;
  border: 1px solid #555;
  background: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  bottom: calc(100% + 0.8rem);
  left: 50%;
  transform: translateX(-50%); }
  .tooltip:after {
    content: '';
    display: block;
    height: 1rem;
    width: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background: white;
    border: 1px solid #555;
    border-left: 0px solid transparent;
    border-top: 0px solid transparent;
    background: linear-gradient(-45deg, white 55%, transparent 55%); }

/*# sourceMappingURL=index.css.map */
