.label {
	display: block;
	margin-bottom: 1rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.error {
	white-space: break-word;
}

.code {
	border: 1px solid hsla(0, 40%, 60%, 0.6);
	background: hsla(0, 60%, 90%, 0.3);
	border-radius: 3px;
	padding: 0 5px;
	white-space: break-spaces;
}