.container {
	width: 1.5rem;
	background: white;
	display: grid;
	place-items: center;
}

.button {
	cursor: help;
	color: #999;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	background: white;
	border: 2px solid transparent;
	padding: 0;
	display: grid;
	place-items: center;

	&:hover,
	&:active,
	&:focus {
		color: #333;
		font-weight: bold;
		.tooltip {
			display: block;
		}
	}
}

.fieldset {
	position: absolute;
	top: 0;
	right: 0;
	height: 2.1rem;
}

.basic {
	transform: translateX(-2px);

	&, .button {
		background: transparent
	}
}