.output {
	display: flex;
	min-width: 300px;
	width: 100%;
	flex-direction: column;
	max-height: calc(100vh - 4rem);
	box-shadow: 0 0 25px #aaa;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: min-width 0.2s, flex-grow 0.2s;
	tab-size: 2;
	-moz-tab-size: 2;

	@media (max-width: 1200px) {
		max-height: unset;
	}
}

.title {
	box-sizing: border-box;
	margin: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	font-size: 1rem;
	letter-spacing: 1px;
	height: 42px;
	padding-top: 0.9rem;
	font-weight: normal;
	text-align: center;
}

.scrollContainer {
	background: white;
	padding: 1rem;
	overflow-y: scroll;
	width: 100%;
	box-sizing: border-box;
	min-height: calc(100% - 42px);
}

.rules {
	padding: 1rem;
	box-shadow: inset 0 0 25px black;
	border-radius: 5px;
	background: rgb(40, 40, 40);
	overflow: hidden;
}

.code {
	color: white;
	font-size: 1rem;
	word-wrap: break-word;
	font-family: Menlo, monospace;
	line-height: 1.4;
}

.pre {
	white-space: pre-wrap;
	margin: 0;
	font-size: 1rem;
	font-family: Menlo, monospace;
}

.selector {
	color: rgb(171, 213, 126);
}

.property {
	color: rgb(134, 193, 192);
}

.value {
	color: rgb(238, 229, 111);
}

.line {
	display: block;
	&:last-of-type {
		margin-bottom: 0.2rem;
	}
}