.output:not(:empty) {
	flex: 1;
	tab-size: 2;
	-moz-tab-size: 2;
	margin: 0 0 0 1rem;
	@media (max-width: 1024px) {
		margin: 1rem 0 0 0;
	}
}

.container {
	margin: 0 0 1rem 0;
	padding: 1rem;
	background: rgb(40, 40, 40);
	border-radius: 1rem;
	height: fit-content;
	box-shadow: inset 0 0 25px black;
}

.code {
	color: white;
	font-size: 1.4rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.selector {
	color: rgb(171, 213, 126);
}

.property {
	color: rgb(134, 193, 192);
}

.value {
	color: rgb(238, 229, 111);
}

.copy {
	color: white;
	background: inherit;
	border: 1px solid white;
	font-size: 1.3rem;
	font-family: monospace;
	margin-left: auto;
	margin-top: -1rem;
	display: block;
	padding: 0.5rem;
	border-radius: 4px;
	min-width: 6rem;
	user-select: none;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		box-shadow: none;
		background-color: white;
		color: rgb(40, 40, 40);
	}
}

.success {
	animation: success 0.2s 2;
}

.error {
	animation: error 0.1s 2;
}
