.page {
	border-radius: 7px;
	box-shadow: 0 0 25px #aaa;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: 2;
	height: calc(100vh - 4rem);
	@media screen and (max-width: 1200px) {
		max-width: 100%;
		min-height: 50vh;
		max-height: 50vh;
	}

	@media (max-height: 568px) and (max-width: 500px) {
		min-height: 70vh;
		max-height: 70vh;
	}
}