.controls {
	display: flex;
	min-width: 300px;
	width: 100%;
	flex-direction: column;
	height: calc(100vh - 4rem);
	box-shadow: 0 0 25px #aaa;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: min-width 0.2s, flex-grow 0.2s;
	align-items: stretch;

	@media (max-width: 1200px) {
		height: unset;
	}
}

.title {
	margin: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	z-index: 1;
	display: flex;
	min-width: 100%;
}

.scrollContainer {
	background: white;
	padding: 0.5rem 1rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	box-sizing: border-box;
	min-height: calc(100% - 42px);

	@media (max-width: 1200px) and (min-width: 850px) {
		flex-wrap: wrap;
		flex-direction: row;
	}
}

.collapsed {
	@media (min-width: 1201px) {
		flex: 0;
		min-width: 42px;
	}
}

.hidden {
	@media (min-width: 1201px) {
		align-items: center;
		justify-content: center;

		.collapse {
			border-radius: 7px;
			padding-top: 0;
		}

		.title {
			min-width: calc(100vh - 4rem);
			display: flex;
			align-items: center;
			justify-content: flex-end;
			box-sizing: border-box;
			transform: rotate(-90deg);
			box-shadow: 0 0 60px 40px #fafafa;
		}
		& > *:not(.title) {
			display: none;
		}
	}
}

.collapse {
	@media (min-width: 1201px) {
		cursor: pointer;
	}
	border: none;
	background: none;
	font-size: 1rem;
	padding-top: 0.5rem;
	letter-spacing: 1px;
	width: 100%;
	height: 100%;
	display: block;
	height: 42px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	&:focus,
	&:active,
	&:hover {
		box-shadow: none;
		background: #fafafa;
	}
}
