.container {
	display: flex;
	margin-left: 1rem;
	flex-direction: column;
	flex: 1;

	@media (max-width: 1024px) {
		margin-left: 0;
		margin-top: 1rem;
	}

	@media (max-width: 1024px) and (min-width: 650px) {
		display: flex;
		flex-direction: row;
	}
}