.example {
	display: grid;
	grid-template: minmax(200px, auto) / 1fr 1fr;
	@media (max-width: 650px) {
		grid-template: minmax(200px, auto) / 1fr;
	}
	gap: 1rem;
	position: relative;

	&:hover .controls {
		opacity: 1;
	}
}

.code {
	background: #282828;
	color: white;
	transition: 1s;
	opacity: 1;
	border-radius: 0.5rem;
	padding: 1rem 1rem;
	text-align: left;
	tab-size: 2;
	-moz-tab-size: 2;
	border: 3px solid #282828;
}

.pre {
	white-space: pre-wrap;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	font-family: Menlo, monospace;
}

.fade {
	transition: 0.5s;
	opacity: 0;
}

.selector {
	color: rgb(171, 213, 126);
}

.property {
	color: rgb(134, 193, 192);
}

.value {
	color: rgb(238, 229, 111);
}

.deemphasised {
	filter: saturate(0);
	opacity: 0.8;
}

.parent {
	border: 3px solid #bbb;
	min-height: 10rem;
	border-radius: 10px;
	transition: 0.3s;
}

.child {
	border-radius: 7px;
	position: relative;
	transition: 0.2s;
	padding: 1rem;

	&::after {
		height: 100%;
		width: 100%;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		font-size: 1rem;
		color: #555;
		line-height: 1;
	}

	@for $i from 1 through 30 {
		&:nth-child(#{$i}) {
			border: 3px solid hsl($i * 24, 40%, 60%);
			background: hsl($i * 24, 60%, 90%);

			&::after {
				content: '#{$i}';
			}

			@media (max-width: 450px) {
				@if $i > 9 {
					display: none;
				}
			}

		}

	}

}

.emphasisedChild {
	@extend .child;
	filter: saturate(2.5) drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
	z-index: 2;
}

.controls {
	position: absolute;
	top: 0.5rem;
	right: calc(50% + 1rem);
	display: flex;
	@media (max-width: 650px) {
		right: 1rem;
	}
	justify-content: center;
	align-items: center;
	opacity: 0;
	&:focus-within {
		opacity: 1;
	}
	transition: opacity 0.3s;
	transform: scale(0.5);
	transform-origin: top right;
}

%control {
	font-family: Menlo, monospace;
	color: rgba(255, 255, 255, 0.9);
	border: none;
	padding: 1rem;
	font-size: 2rem;
	background: none;
	font-weight: bold;
	background: rgba(150, 150, 150, 0.7);
	height: 5rem;
	width: 7rem;
	display: grid;
	place-items: center;
	border-radius: 33%;
	position: relative;
	margin: 0.5rem;

	&::before,
	&::after {
		content: '';
		height: 5px;
		width: 2rem;
		background: white;
		border-radius: 3px;
		position: absolute;
		left: 50%;
		top: 50%;
	}
}

.back {
	@extend %control;
	&::before {
		transform: translate(-50%, -50%) rotate(-25deg);
		transform-origin: 2.5px 50%;
	}
	&::after {
		transform: translate(-50%, -50%) rotate(25deg);
		transform-origin: 2.5px 50%;
	}
}

.pause {
	@extend %control;
	&::before {
		transform: rotate(90deg) translate(-50%, calc(0.5rem + 50%));
		transform-origin: 2.5px 50%;
	}
	&::after {
		transform: rotate(90deg) translate(-50%, calc(-0.5rem + 50%));
		transform-origin: 2.5px 50%;
	}
}

.forward,
.play {
	@extend .back;
	transform: rotate(180deg);
}

.playIcon {
	@extend %control::after;
	width: 1.7rem;
	transform: rotate(90deg) translate(-2.5px, 2.5px);
}
