.interface {
	width: 100%;
	margin-left: 2rem;
	@media screen and (max-width: 1024px) {
		margin-left: 0;
		margin-top: 1rem;
	}
}

.choice {
	white-space: nowrap;
	margin: 1rem 0.5rem;
	box-sizing: border-box;
	padding: 1rem;
}

.form {
	display: flex;
	@media screen and (max-width: 500px) {
		flex-direction: column;
		align-items: center;
	}
}

.col {
	margin-right: 1rem;
	box-sizing: border-box;
	width: 100%;

	&:last-child {
		margin-right: 0;
	}

	@media screen and (max-width: 500px) {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}

.number,
.select {
	font-size: 1rem;
	width: 5ch;
	margin-left: auto;
	text-align: right;
	background: white;
	border-radius: 0;
	border: 1px solid #ddd;

	&--multi {
		margin-left: 0;
	}
}

.range {
	width: 100%;
}

.multi-container {
	display: flex;
	flex-wrap: wrap;

	&__inputs {
		flex-wrap: wrap;
		display: flex;
		max-width: 100%;
	}

}

.add,
.remove {
	border: 1px solid #ddd;
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	margin-left: 0.3rem;
}
