.interface {
	width: 100%;
	margin-left: 2rem;
	@media screen and (max-width: 1024px) {
		margin-left: 0;
		margin-top: 1rem;
	}
}

.choice {
	white-space: nowrap;
	margin: 1rem 0.5rem;
	box-sizing: border-box;
	padding: 1rem;
}

.form {
	display: flex;
	@media screen and (max-width: 500px) {
		flex-direction: column;
		align-items: center;
	}
}

.col {
	margin-right: 1rem;
	box-sizing: border-box;
	width: 100%;

	&:last-child {
		margin-right: 0;
	}

	@media screen and (max-width: 500px) {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}

fieldset {
	// fix iOS selection of text
	// when removing multi inputs
	user-select: none;
	-webkit-user-select: none;
}

.number,
.select {
	font-size: 1rem;
	width: 5ch;
	margin-left: auto;
	text-align: right;
	background: white;
	border-radius: 0;
	border: 1px solid #ddd;

	&--multi {
		margin: 0;
		width: 3.5ch;
	}
}

.select {
	margin-left: 0;
	width: calc(2ch + 0.5rem);
	appearance: none;
	-webkit-appearance: none;
	text-align: center;
	padding: 0.25rem;

	// fix text alignment in Chrome
	@supports (text-align-last: center) {
		text-align-last: center;
		padding: 0;
	}
}

.range {
	width: 100%;
}

.multi-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	min-height: 1.5rem;
	padding-right: 1.5rem;

	&__inputs {
		flex-wrap: wrap;
		display: flex;
		max-width: 100%;
	}
}

.button-wrapper {
	margin-left: 0.3rem;
	position: absolute;
	top: 0;
	right: 0;
}

.add {
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	padding: 0;
	border: 1px solid #ddd;
	border-radius: 50%;
	position: relative;
	background: white;
	-webkit-touch-callout: none;
	user-select: none;
	@extend %focus;

	&::before,
	&::after {
		content: '';
		display: block;
		height: 2px;
		width: 0.8rem;
		background: #555;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: 0.2s;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(90deg);
	}

	&::after {
		transform: translate(-50%, -50%);
	}

	&:hover {
		& + .tooltip {
			transition: visibility 0s 0.5s, opacity 0.5s 3s;
			visibility: visible;
		}
		& + .disappear {
			opacity: 0;
		}
	}

	&:focus {
		& + .tooltip {
			visibility: visible;
			transition: visibility 0s 2s, opacity 0.5s 4s;
		}
		& + .disappear {
			opacity: 0;
		}
	}
}

.remove {
	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.tooltip {
	visibility: hidden;
	position: absolute;
	border: 1px solid #555;
	background: white;
	padding: 0.5rem;
	font-size: 0.8rem;
	bottom: calc(100% + 0.8rem);
	left: 50%;
	transform: translateX(-50%);

	&:after {
		content: '';
		display: block;
		height: 1rem;
		width: 1rem;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%) rotate(45deg);
		background: white;
		border: 1px solid #555;
		border-left: 0px solid transparent;
		border-top: 0px solid transparent;
		background: linear-gradient(-45deg, white 55%, transparent 55%);
	}
}
