.output:not(:empty) {
	flex: 1;
	tab-size: 2;
	margin: 0 0 0 1rem;
	@media (max-width: 1024px) {
		margin: 1rem 0 0 0;
	}

	.code-container {
		margin: 0 0 1rem 0;
		padding: 1rem;
		background: rgb(40, 40, 40);
		border-radius: 1rem;
		height: fit-content;
		box-shadow: inset 0 0 25px black;
	}

	.code {
		color: white;
		font-size: 1.4rem;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}

.selector {
	color: rgb(171, 213, 126);
}

.property {
	color: rgb(134, 193, 192);
}

.value {
	color: rgb(238, 229, 111);
}

.copy {
	color: white;
	background: inherit;
	font-size: 1.4rem;
	font-family: monospace;
	margin-left: auto;
	display: block;
	padding: 0.5rem;
	border-radius: 4px;
	min-width: 6rem;
	user-select: none;
	cursor: pointer;

	&:hover, &:active, &:focus {
		box-shadow: none;
		background-color: white;
		color: rgb(40, 40, 40);
	}

	&--success {
		animation: success .2s 2;
	}

	&--error {
		animation: error .1s 2;
	}
}

@keyframes success {
	0% { background-color: white; }
	50% { background-color: rgb(200, 200, 200); }
	100% { background-color: white; }
}

@keyframes error {
	33% { transform: translateX(-0.1rem) }
	66% { transform: translateX(0.1rem) }
}