html {
	font-family: sans-serif;
}

body {
	display: flex;
	padding: 0;
	margin: 2rem;
	@media screen and (max-width: 1024px) {
		flex-direction: column;
		margin: 1rem;
	}
}

input[type='number'], button, select {
	@extend %focus;
}

.page {
	border-radius: 7px;
	box-shadow: 0 0 25px grey;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: 2;
	height: calc(100vh - 4rem);
	@media screen and (max-width: 1024px) {
		max-width: 100%;
		min-height: 50vh;
		max-height: 50vh;
	}

	@media (max-height: 568px) {
		min-height: 70vh;
		max-height: 70vh;
	}
}

.body {
	overflow: scroll;
	padding: 5px;
	box-sizing: border-box;
}

.container {
	border: 3px solid #bbb;
	border-radius: 10px;
	margin: 0.1rem;
	box-sizing: border-box;
	max-height: 100%;
}

.child {
	border-radius: 7px;
	position: relative;

	&::after {
		height: 100%;
		width: 100%;
		background: white;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		font-size: 2rem;
		color: #555;
	}

	@for $i from 1 through 50 {
		&:nth-child(#{$i}) {
			border: 3px solid hsl($i * 18, 40%, 60%);
			background: hsl($i * 18, 60%, 90%);
			&::after {
				content: '#{$i}';
			}
		}
	}
}
