html {
	font-family: sans-serif;
}

body {
	display: flex;
	padding: 0;
	margin: 2rem;
	@media screen and (max-width: 1024px) {
		flex-direction: column;
		margin: 1rem;
	}
}

.page {
	border-radius: 7px;
	box-shadow: 0 0 25px grey;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-width: 50vw;
	max-width: 50vw;
	@media screen and (max-width: 1024px) {
		width: 100%;
		height: 70vh;
	}
	height: calc(100vh - 4rem);
}

.body {
	overflow: scroll;
	padding: 5px;
}

.container {
	border: 3px solid #bbb;
	border-radius: 10px;
	margin: 0.1rem;
	box-sizing: border-box;
	display: flex;
	max-height: 100%;
}

.child {
	box-sizing: border-box;
	border-radius: 7px;
	position: relative;

	&::after {
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		background: white;
	}

	@for $i from 1 through 20 {
		&:nth-child(#{$i}) {
			border: 3px solid hsl($i * 18, 40%, 60%);
			background: hsl($i * 18, 60%, 90%);
		}
	}
}
