html {
	font-family: sans-serif;
}

body {
	display: flex;
	padding: 0;
	margin: 0;
}

.page {
	border-radius: 7px;
	box-shadow: 0 0 25px grey;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 50vw;
	margin: 2rem;
	height: calc(100vh - 4rem);
}

.body {
	overflow: scroll;
	padding: 5px;
}

.container {
	padding: .5rem;
	border: 3px solid #bbb;
	border-radius: 7px;
	margin: .1rem;
	box-sizing: border-box;
	display: flex;
}

.child {
	margin: 5px;
	padding: 5px;
	width: 50px;
	height: 50px;

	box-sizing: border-box;
	border-radius: 7px;

	@for $i from 1 through 20 {
		&:nth-child(#{$i}) {
			border: 3px solid hsl($i * 18, 40%, 60%);
			background: hsl($i * 18, 60%, 90%);
		}
	}
}
