.controls {
	padding: .6rem .8rem;
	display: flex;
	width: 55px;
	justify-content: space-between;
}

.control {
	height: .8rem;
	width: .8rem;
	border-radius: 50%;
}

.close {
	background: #f64;
}

.minimize {
	background: #fc4;
}

.maximize {
	background: #4c6;
}

.tabs {
	display: flex;
	background: linear-gradient(#f0f0f0, #eee);
	padding-top: .4rem;
	padding-right: .4rem;
	overflow: hidden;
}

.tab {
	padding: .6rem 1rem .6rem 1rem;
	width: 14rem;
	min-width: 2rem;
	font-size: .9rem;
	color: #555;
	position: relative;
	white-space: nowrap;
}

.tab--active {
	background: white;
	border-top-left-radius: .6rem;
	border-top-right-radius: .6rem;
	box-shadow: 0 0 15px #ddd;
}

.tab--active::before,
.tab--active::after {
	content: '';
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	bottom: -5px;
	border: 5px solid transparent;
	border-radius: 50%;
}

.tab--active::before {
	left: calc(-1rem - 5px);
	border-bottom-color: white;
	transform: rotate(-45deg);
}

.tab--active::after {
	right: calc(-1rem - 5px);
	border-bottom-color: white;
	transform: rotate(45deg);
}

.tab__close {
	cursor: pointer;
	position: absolute;
	display: block;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	top: 50%;
	right: .2rem;
	transform: translate(-50%, -50%);
}

.tab__close:hover {
	background: #ddd;
}

.tab__close::before,
.tab__close::after {
	content: '';
	display: block;
	top: 50%;
	left: 50%;
	width: .7rem;
	height: .1rem;
	background: #555;
	position: absolute;
}

.tab__close::before {
	transform: translate(-49.5%, -1px) rotate(45deg);
}
.tab__close::after {
	transform: translate(-50.5%, -1px) rotate(-45deg);
}

.tab__title {
	width: calc(100% - 1.2rem);
	overflow: hidden;
	display: block;
}

.bar {
	padding: 5px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.bar__buttons {
	display: flex;
	align-items: center;
	padding: 0 .3rem;
}

.back, .forward {
	position: relative;
	display: block;
	height: 1.5rem;
	width: 2rem;
}

.forward {
	transform: rotate(180deg);
}

.back::before,
.forward::before,
.back::after,
.forward::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 30%;
}

.back::before,
.forward::before {
	height: .5rem;
	width: .5rem;
	border: 2px solid #ccc;
	border-right: none;
	border-top: none;
	transform: rotate(45deg) translate(-35%, -35%);
}

.back::after,
.forward::after {
	height: 2px;
	background: #ccc;
	width: .8rem;
	transform: translateY(-1px);
}

.url {
	background: #f4f4f4;
	padding: .5rem 1.5rem;
	border-radius: 1rem;
	flex: 1;
	color: #444;
	font-size: .95rem;
}

.options {
	transform: rotate(90deg);
	font-size: 1rem;
	letter-spacing: 1px;
	color: #777;
	cursor: pointer;
	user-select: none;
}